.section-heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.heading {
  text-align: center;
  width: 80%;
  font-size: xx-large;
  flex-grow: 3;
}

.generate-form-button,
#dynamic-form-submit-button {
  /* width: 32%;
  height: 40px;
  background-color: green;
  color: azure;
  border-radius: 26px;
  border: 0px;
  margin-top: 2%; */
  margin-top: 2%;
  background-color: green;
  color: whitesmoke;
  padding: 12px 50px;
  border: 2px solid green;
  border-radius: 100vmax;
  cursor: pointer;
  font-family: var(--ff-montserrat);
  font-size: var(--fs-links-btns);
}

button.generate-form-button:hover,
#submit-button:hover,
#dynamic-form-submit-button:hover {
  cursor: pointer;
  /* background-color: white;
  color: black; */
  transform: scale(1.06);
}

form {
  border: 1px solid black;
  margin-left: 18%;
  margin-right: 18%;
  padding: 50px;
  text-align: left;
  align-content: center;
}

form label,
form input,
form select {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 2%;
  border-radius: 7px;
}

form input,
form select {
  width: 25%;
  height: 30px;
}

#new-form input[type="submit"] {
  width: auto;
  height: auto;
}

#isRequired {
  height: 15px;
  width: 18px;
  align-items: start;
}

.input-submit {
  margin-top: 19px;
  width: 6%;
  height: 33px;
  background-color: #4089d3;
  color: azure;
  border-radius: 4px;
  border: 0px;
}

.preview {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: fit-content;
  margin-top: 6%;
}

.preview-heading {
  text-align: center;
  font-size: xx-large;
}
